//- views/contacts.pug
doctype html
html
  head
    title Homepage | Integrating With HubSpot
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Homepage | Integrating With HubSpot
    a(href="/update-cobj") Add to this table
    table
      thead
        tr
          th Name
          th Elemental Type
          th Level
      tbody
        each contact in customObjects
          tr
            td= contact.properties.name || 'N/A'
            td= contact.properties.elemental_type || 'N/A'
            td= contact.properties.level || 'N/A'
